.profile__add-button{
    width: calc(150/880*100%);
    min-width: 90px;
    aspect-ratio: 150/50;
    cursor: pointer;
    display: flex;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    background-color: transparent;
    border-radius: 2px;
    background-image: url('../../../images/add-button.svg');
    background-size: cover;
    background-size: 100% 100%;
}

.profile__add-button:hover{
    opacity: 60%;
}

@media all and (max-width: 890px)
{
    .profile__add-button{
        width: 100%;
        aspect-ratio: 282/50;
        max-width: 282px;
        margin-top: 36px;
        background-image: url('../../../images/add-button-big.svg');
    }
}