.popup__container{
    position: relative;
    width: 430px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

@media all and (max-width: 720px)
{
    .popup__container{
        width: 282px;
    }
}