.elements__heart{
    background-image: url('../../../images/elements-heart.svg');
    /* width: calc(22/282*100%); */
    width: 22px;
    height: 19px;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: white;
    border: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.elements__heart:hover{
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 60%;
}

.elements__heart:active{
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    -ms-transition: all .1s ease;
    transition: all .1s ease;
    background-image: url('../../../images/elements-heart-active.svg');
    opacity: 100%;
}